[submodule "robot-description"]
	path = robot-description
	url = https://github.com/limxdynamics/robot-description.git
[submodule "robot-joystick"]
	path = robot-joystick
	url = https://github.com/limxdynamics/robot-joystick.git
	branch = main
[submodule "limxsdk-lowlevel"]
	path = limxsdk-lowlevel
	url = https://github.com/limxdynamics/limxsdk-lowlevel.git
